<p>
    <mat-toolbar color="primary">
        <span><a mat-button routerLink="/login" routerLinkActive="active"><mat-icon>home</mat-icon>Home</a>
            <a mat-button routerLink="/income" routerLinkActive="active"><mat-icon>account_balance</mat-icon>Income &
                Expenses</a>
            <button mat-button><mat-icon>calculate</mat-icon>Large Purchases Calculator</button>
        </span>
        <span class="spacer"></span>
        <button mat-button><mat-icon>help</mat-icon>Help</button>
        <a mat-button routerLink="/profile" routerLinkActive="active"><mat-icon>person</mat-icon>Profile</a>
    </mat-toolbar>
</p>