<p>
    <mat-toolbar color="primary">
        <span><button mat-button><mat-icon>home</mat-icon>Home</button>
            <button mat-button><mat-icon>account_balance</mat-icon>Income & Expenses</button>
            <button mat-button><mat-icon>credit_card</mat-icon>Credit Card</button>
            <button mat-button><mat-icon>calculate</mat-icon>Large Purchases Calculator</button>
            <button mat-button><mat-icon>pie_chart</mat-icon>Daily Tracker</button>
        </span>
        <span class="spacer"></span>
        <button mat-button><mat-icon>help</mat-icon>Help</button>
        <button mat-button><mat-icon>person</mat-icon>Profile</button>
    </mat-toolbar>
</p>