<div id="content-container">
    <app-header></app-header>
    <div id="page-content">
        <mat-tab-group>
            <mat-tab label="Income">
                <mat-toolbar color="primary" id="income-toolbar">Income</mat-toolbar>
                <div class="income-div">
                    <table mat-table [dataSource]="dataSource" class="income-table">
                        <!-- Week Column -->
                        <ng-container matColumnDef="week">
                            <th mat-header-cell *matHeaderCellDef>Week</th>
                            <td mat-cell *matCellDef="let element"><b>{{element.week}}</b></td>
                        </ng-container>

                        <!-- Value Column -->
                        <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef>Value</th>
                            <td mat-cell *matCellDef="let element">{{element.value}}</td>
                        </ng-container>
                        <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
                            *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <p>Hint: You can click on each week line to change it's values</p>
                </div>
            </mat-tab>
            <mat-tab label="Expenses">Expenses</mat-tab>
        </mat-tab-group>
    </div>
</div>