<div id="content-container">
    <div id="form-container">
        <form id="login-form">
            <mat-form-field class="form-fields">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" required>
            </mat-form-field>
            <br>
            <mat-form-field class="form-fields">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" required type="password">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" id="login-button">Login</button>
            <br>
            <p style="margin-top: 0.5em">Don't have an account? <a href="/signup">Sign up</a></p>
        </form>
    </div>
</div>